.weather {
    &.theme {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        
        &--fading-morning,
        &--default {
            background: linear-gradient(180deg,#049ce2 30%, #38d0eb 80%);
        }     
        &--sky-ocean {
            background: linear-gradient(0deg, #0084d1 40%, #003bb9);
        }      
        &--lime-sky {
            background: linear-gradient(180deg,#002647, #00b187);
        }
        &--fading-night {
            background: linear-gradient(180deg, #cf4226, #f5b171, #88b8df);
        }
        &--boring-day {
            background: linear-gradient(10deg, #212121 18%, rgba(0, 0, 0, 0.1));
        }
        &--purple-sky {
            background-image: url("../../assets/img/purple-sky.jpg");
        }
        &--clouds {
            background-image: url("../../assets/img/clouds.jpg");
        }
    }

    &.dynamic-theme {
        
    }
}